/* Estilos Gerais */
body{
    font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none; /* remover os sublinhados de todos os links*/
  color: inherit; /*manter a cor do Texto*/
}

/* Cabeçalho */
.topo {
    display: flex; /* Alinhar o Logo e menu na mesma linha */
    justify-content: space-between; /*Espaço entre o logotipo e o Menu */
    align-items: center; /* Alinhamento vertical */
    padding: 16px 24px; /* Espaçamento entre lihhas e colunas*/
    background-color: white; /* Cor de fundo*/
    border-bottom: 2px solid #e0e0e0;
}

/* Logotipo */
.logo {
     font-size: 24px;
     font-weight: bold;
}

.logo_destaque {
     color: #0066cc; /* Cor para destacar a palavra (Eleytro) */

}

/* Navegaçaõ */
.menu a {
    margin-left: 16px; /* espaço entre as linhas */
    font-weight: bold;
    color: #333;
}

.menu a:hover {
    color: #0066cc;
}


/* Banner */
.banner {
    background: linear-gradient(120deg, #61ddee, #080ce9d5, #ac90ee); /*Fundo gradiente*/
    color: #ffffff;
    text-align: center;
    padding: 80px 20px;
}

.banner_conteudo {
    max-width: 700px; /*Limita a largura do texto*/
   margin: 0 auto; /* Centralizar o Texto*/
}

/* Class Cards */
.cards {
    display: grid; /*Use o Grid para alinhar os cards*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px; /*Espaçamento entre os cards*/
    margin-top: 24px;
}

.card {
    background-color: #4cb3ea;
    padding: 20px;
    border-radius: 6px;
    border: 6px solid #e8e2e2;
}

/* Produtos */
.produtos {
    background-color: #e0e0e0;
    text-align: center;
}

.produto_titulo {
    font-size: 30px;
   
}

.grid_produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 24px;
}


.produto {
    background-color: rgb(106, 220, 235);
    padding: 16px;
    border-radius: 6px;
    border: 2px solid white;
}
/* Imagem do produto */
.produto_img {
    width: 100%;
    height: 150px;
    object-fit: cover; /*Garante que a imagem preencha sem Destorcer*/
    border-radius: 10px;
    margin-bottom: 12px;
    background-color: rgb(133, 222, 239); /*Cor de fundo enquanto não carrega*/
    
}

.produto_img:hover {
    transform: scale(1.1);
}

/* Estilo do botão */
.btn {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    background: rgb(10, 10, 10);
    color: #e0e0e0;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    justify-self: center;
    border-radius: 7px;
    text-align: center;
    align-self: center;
    margin-top: auto;
     transition: all 0.4s ease-in-out;
}

.btn:hover {
   background-color: #171ad1;
   transform: scale (1.1);

}